*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

.main{
    width: 100%;
    height: 100%;
    background-color: #1d4e6d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel{
    height: 80%;
    width: 80%;
    background-color: #fff;
    border-radius: 5px;
}

.panel-top{
    padding: 0 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    color: aliceblue;
    background-color: #ffbd17;
    border-radius: 5px;
}

.element{
    width: 10%;
    display: flex;
    gap: 10px;
}

.element h4{
    color: #1d4e6d;
    margin-top: 5px;
    font-size: 21px;
}

.box{
    padding: 10px;
    font-size: 17px;
    background-color: #fff;
    color: black;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px 20px;
}

.panel-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #1d4e6d;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    height: calc(100% - 100px);
    gap: 10px;
}

.bubble{
    width: 60px;
    height: 60px;
    background-color: skyblue;
    color: #fff;
    border-radius: 50%;
    font-size: 25px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bubble:hover{
    cursor: pointer;
    background-color: aqua;

}